.npf-imageCrop {
  @include box-shadow(0 5px 20px #002544);

  background: #fff;
  border: 5px solid #fff;
  display: inline-block;
  margin: -5px 0 0 -5px;
  position: absolute;
  vertical-align: top;
}

.npf-imageCrop-content {
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.npf-imageCrop-fader {
  background: #000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.npf-imageCrop-image {
  display: block;
  position: relative;
}

.npf-imageCrop-cropped {
  .npf-imageCrop-content {
    cursor: default;
  }

  .npf-imageCrop-fader {
    display: block;
  }
}


/**
 * Cropper
 */
.npf-imageCrop-cropper {
  position: absolute;
}

.npf-imageCrop-cropper-content {
  cursor: move;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.npf-imageCrop-cropper-image {
  @include transform-origin(0, 0);

  left: 0;
  position: absolute;
  top: 0;
}

.npf-imageCrop-cropper-direction-bottom,
.npf-imageCrop-cropper-direction-left,
.npf-imageCrop-cropper-direction-right,
.npf-imageCrop-cropper-direction-top {
  position: absolute;
  z-index: 1;

  &:hover {
    &:after {
      background: #fff;
    }
  }
}

.npf-imageCrop-cropper-direction-bottom,
.npf-imageCrop-cropper-direction-top {
  height: 19px;

  &:after {
    background: rgba(255, 255, 255, 0.5);
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 100%;
  }
}

.npf-imageCrop-cropper-direction-left,
.npf-imageCrop-cropper-direction-right {
  width: 19px;

  &:after {
    background: rgba(255, 255, 255, 0.5);
    content: '';
    height: 100%;
    left: 9px;
    position: absolute;
    top: 0;
    width: 1px;
  }
}

.npf-imageCrop-cropper-direction-leftBottom,
.npf-imageCrop-cropper-direction-leftTop,
.npf-imageCrop-cropper-direction-rightBottom,
.npf-imageCrop-cropper-direction-rightTop {
  height: 19px;
  position: absolute;
  width: 19px;
  z-index: 2;

  &:after {
    background: rgba(255, 255, 255, 0.5);
    content: '';
    height: 9px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 9px;
  }

  &:hover {
    &:after {
      background: #fff;
    }
  }
}

.npf-imageCrop-cropper-direction-bottom {
  bottom: -10px;
  cursor: ns-resize;
  left: 0;
  right: 0;
}

.npf-imageCrop-cropper-direction-left {
  bottom: 0;
  cursor: ew-resize;
  left: -10px;
  top: 0;
}

.npf-imageCrop-cropper-direction-leftBottom {
  bottom: -10px;
  cursor: nesw-resize;
  left: -10px;
}

.npf-imageCrop-cropper-direction-leftTop {
  cursor: nwse-resize;
  left: -10px;
  top: -10px;
}

.npf-imageCrop-cropper-direction-right {
  bottom: 0;
  cursor: ew-resize;
  right: -10px;
  top: 0;
}

.npf-imageCrop-cropper-direction-rightBottom {
  cursor: nwse-resize;
  bottom: -10px;
  right: -10px;
}

.npf-imageCrop-cropper-direction-rightTop {
  cursor: nesw-resize;
  right: -10px;
  top: -10px;
}

.npf-imageCrop-cropper-direction-top {
  cursor: ns-resize;
  left: 0;
  right: 0;
  top: -10px;
}


/**
 * Preview
 */
.npf-imageCrop-preview {
  @include border-radius(3px);
  @include box-shadow(0 5px 20px #002544);

  background: #fff;
  display: inline-block;
  padding: 5px 5px 39px;
  position: absolute;
  vertical-align: top;
}

.npf-imageCrop-preview-content {
  @include border-radius(2px);

  overflow: hidden;
  position: relative;
}

.npf-imageCrop-preview-image {
  @include transform-origin(0, 0);

  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

.npf-imageCrop-preview-empty {
  .npf-imageCrop-preview-image {
    display: none;
  }
}
